.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  width: 85%;
  margin: auto;
}

.filters-container .filter {
  flex: 1 150px;
}

.filters-container .filter.search {
  flex: 2 200px;
}
