.plan-container {
  display: inherit;
}

.filterable-list {
  position: fixed;
  width: 300px;
}

.recipe-list {
  height: calc(100% - 175px);
  width: 300px;
  bottom: 0;
  top: auto;
  overflow-y: scroll;
  position: fixed;
}

.calendar {
  position: fixed;
  width: calc(100% - 350px);
  right: 0;
}

/* Always show the scrollbar on the recipe list */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
