.calendar {
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
}

/* note this is min width - I don't understand why it didn't 
work like the rest with max-width */
@media (min-width: 1150px) {
  .calendar {
    grid-template-columns: repeat(7, 105px);
  }
}

@media (max-width: 1150px) {
  .placeholder {
    display: none;
  }
}

@media (max-width: 1150px) {
  .day-of-week {
    display: none;
  }
}

@media (max-width: 1150px) {
  div.day {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
  }
}

@media (max-width: 1150px) {
  .day-of-month {
    color: #57606a;
  }
}

@media (min-width: 1150px) {
  .day-name {
    display: none;
  }
}

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }
}
