.calendar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.day {
  flex: 0 0 100px;
  height: 100px;
  border: solid;
  margin: 1px;
}

.day.past {
  background-color: grey;
}

.day.today {
  background-color: greenyellow;
}

.day.future {
  background-color: white;
}
